chardet==3.0.4
EbookLib==0.17.1
extract-msg==0.23.1
pdfminer.six==20181108
pycryptodome==3.10.1
PyQt5==5.15.4
PyQt5-Qt5==5.15.2
PyQt5-sip==12.8.1
pytz==2021.1
pywin32-ctypes==0.2.0
sortedcontainers==2.3.0
soupsieve==2.2.1
tzlocal==1.5.1
XlsxWriter==1.4.0
